
.dashboard{
  display: grid;
  grid-template-columns: 15% 60% 25%;
  grid-template-rows: 15% 70% 15%;
  background-color: darkgray;
  
  height: 100vh;
  width: 100vw;
}
.dashboard > div {
  background-color: beige;
  padding: 10px;
  user-select: none
}
.dashMainNav{
  grid-row-start: 1;
  grid-row-end: 4;
}
.dashHeader{
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
}
.dashFooter{
  grid-column-start:2 ;
  grid-column-end: 4;
}
.greetings{
  margin: 0;
}
.logout{
  margin-left: auto;
}
.activeNav{
  background-color: rgb(208, 216, 216);
  color: crimson;
  text-decoration: none;
  border-radius: 10%;
  padding: 2px;
}
input{
  margin: 3px;
}
.notify-success{
  background-color: green;
  color: aliceblue;
}
.notify-fail{
  background-color: rgb(128, 0, 11);
  color: aliceblue;
}
#last10Customers{
  overflow: hidden;
  width: 20%;
}
.close{
  color:red;
  cursor: pointer;
  padding: 0;
  margin: 5px;
}
#inventoryNav{
 overflow: hidden;
}
label{
  width: 50%;
  display: inline-block;
  text-align: right;
}
label input{
  float: right;
  width: 50%;
}
label input[type="checkbox"]{
  width: auto;
}
.checkboxLabel{
  width: 25%;
}
img{
  width: 100px;
}
.tabs{
}
.tabList{
  display: flex;
  margin: 0;
  padding: 0;
}
.tab{
  background-color: rgb(255, 247, 236);
  border: groove 1px;
  list-style: none;
  padding: 5px;
  cursor: pointer;
}
.tabPanel{

}
.selectedTab{
  background-color: rgb(250, 232, 208);
  border-style: solid;
  border-bottom: none;
  outline-style: none;
}
.selectedTabPanel{
  background-color: rgb(250, 232, 208);
  padding-top: 15px;

}

thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}
.cursor-pointer{
  cursor: pointer;
}