
.dashboard{
  display: grid;
  grid-template-columns: 15% 65% 20%;
  grid-template-rows: 15% 70% 15%;
  height: 100vh;
  width: 100vw;
}

.dashSecondaryNav{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.dashMainNav{
  grid-row-start: 2;
  grid-row-end: 4;
}
.dashMainNav > ul {
  padding-left: 0;
  list-style:none;
}
.dashHeader{
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  border-bottom: 2px;
}
.dashFooter{
  grid-column-start:2 ;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
.greetings{
  margin: 0;
}
.logout{
  margin-left: auto;
}
.activeNav{
  color:blue;
  text-decoration: none;
  padding: 2px;
}

.notActiveNav {
  text-decoration: none;
}

.notify-success{
  background-color: green;
  color: aliceblue;
}
.notify-fail{
  background-color: rgb(128, 0, 11);
  color: aliceblue;
}
#last10Customers{
  overflow: hidden;
  width: 20%;
}
.close{
  color:red;
  cursor: pointer;
  padding: 0;
  margin: 5px;
}

.checkboxLabel{
  width: 25%;
}
img{
  width: 100px;
}

.tabList{
  display: flex;
  margin: 0;
  padding: 0;
}
.tab{
  background-color: rgb(255, 247, 236);
  border: groove 1px;
  list-style: none;
  padding: 5px;
  cursor: pointer;
}

.selectedTab{
  background-color: rgb(250, 232, 208);
  border-style: solid;
  border-bottom: none;
  outline-style: none;
}
.selectedTabPanel{
  background-color: rgb(250, 232, 208);
  padding-top: 15px;
}

table {
white-space: nowrap;
}
.cursor-pointer{
  cursor: pointer;
}
.rowEdit {
  padding: 0px;
}
.invoiceName {
grid-column-start: 1;
grid-column-end: 2;
}
.invoiceEmail{
  grid-column-start: 1;
grid-column-end: 2;
}
.invoicePhone{
  grid-column-start: 1;
  grid-column-end: 2;
}
.invoiceTotal{
  grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 4;
height: auto;
font-size: 60px;
text-align: center;
}
.invoiceGenerate{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
grid-row-end: 4;
}