
.dashboard{
  display: grid;
  grid-template-columns: 15% auto 25%;
  grid-template-rows: 15% auto 15%;
  background-color: darkgray;
  gap: 1px;
  height: 100vh;
  width: 100vw;
}
.dashboard > div {
  background-color: beige;
  padding: 10px;
  user-select: none
}
.dashMainNav{
  grid-row-start: 1;
  grid-row-end: 4;
}
.dashHeader{
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
}
.dashFooter{
  grid-column-start:2 ;
  grid-column-end: 4;
}
.greetings{
  margin: 0;
}
.logout{
  margin-left: auto;
}
.activeNav{
  background-color: rgb(208, 216, 216);
  color: crimson;
  text-decoration: none;
  border-radius: 10%;
  padding: 2px;
}
input{
  margin: 3px;
}
.notify-success{
  background-color: green;
  color: aliceblue;
}
.notify-fail{
  background-color: rgb(128, 0, 11);
  color: aliceblue;
}
#last10Customers{
  overflow: hidden;
}
.close{
  color:red;
  cursor: pointer;
  padding: 0;
  margin: 5px;
}
#last10Customers{
  width: 20%;
}
label{
  width: 50%;
  display: inline-block;
  text-align: right;
}
label input{
  float: right;
  width: 50%;
}
label input[type="checkbox"]{
  width: auto;
}
.checkboxLabel{
  width: 25%;
}